/*
    Document   : navbar.css
    Created on : 2015-09-11 04:42 PM
    Author     : Chino605
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/


#navbar {
    text-align:center
}
#navbar li{
    display:inline-block;
    border:2px solid blue;
    background-color:white
}
#navbar a{
    color:black
}